.index-layout {
  .header {
    display: flex;
    align-items: center;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.05);
    .demo-logo {
      width: 90px;
      height: 46px;
      background-image: url("@/assets/static/1693297803449.png");
      background-size: 100% 100%;
      background-repeat: no-repeat;
    }
    .menu {
      margin-left: 20px;
      min-width: 600px;
    }
  }
}

