APP_DEBUG = trueDB_TYPE = mysqlDB_HOST = 127.0.0.1DB_NAME = testDB_PREFIX   = xin_DB_USER = usernameDB_PASS = passwordDB_PORT = 3306DB_CHARSET = utf8DEFAULT_LANG = zh-cn# 前端项目地址# WEB_PATH = ./web/admin