.idea
.vscode

node_modules
pnpm-lock.yaml
.env.local
.umirc.local.ts
.umi
.umi-production
.umi-test
.mfsu
.swc
dist


*.log

composer.phar
composer.lock
.DS_Store
Thumbs.db

/xin-admin/vendor
.settings
.buildpath
.project
/xin-admin/public/assets
/xin-admin/public/*.html
/xin-admin/public/*.ini
/xin-admin/public/storage
/xin-admin/.env
