/xin-web/node_modules
/xin-web/.env.local
/xin-web/.umirc.local.ts
/xin-web/config/config.local.ts
/xin-web/src/.umi
/xin-web/src/.umi-production
/xin-web/src/.umi-test
/xin-web/.umi
/xin-web/.umi-production
/xin-web/.umi-test
/xin-web/dist
/xin-web/.mfsu
/xin-web/.swc


/xin-admin/.env
/xin-admin/composer.phar
/xin-admin/composer.lock
/xin-admin/.DS_Store
/xin-admin/Thumbs.db
/xin-admin/vendor
/xin-admin/.settings
/xin-admin/.buildpath
/xin-admin/.project
/xin-admin/public/assets
/xin-admin/public/*.html
/xin-admin/public/*.ini
/xin-admin/public/storage

*.log
.vscode
.idea
/log
/dict
