@font-face {
  font-family: "iconfont"; /* Project id 4585647 */
  src: url('iconfont.woff2?t=1718355555078') format('woff2'),
       url('iconfont.woff?t=1718355555078') format('woff'),
       url('iconfont.ttf?t=1718355555078') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shengdanbingqilin:before {
  content: "\e6fa";
}

.icon-shengdanguaizhang:before {
  content: "\e6fb";
}

.icon-shengdanliwu:before {
  content: "\e6fc";
}

.icon-shengdanlihe:before {
  content: "\e6fd";
}

.icon-shengdanmilu:before {
  content: "\e6fe";
}

.icon-shengdanxiaoxiong:before {
  content: "\e6ff";
}

.icon-shengdanlaorenmao:before {
  content: "\e700";
}

.icon-shengdanqiqiu:before {
  content: "\e701";
}

.icon-shengdanwazi:before {
  content: "\e702";
}

.icon-shengdanshu:before {
  content: "\e703";
}

