::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  margin-right: 4px;
  background-color: transparent;
}

::-webkit-scrollbar-corner {
  display: none;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(42, 46, 54, 0.15);
  border-radius: 4px;
}
