.ant-pro-page-container .ant-pro-page-container-warp-page-header .ant-page-header-footer {
  margin-block-start: 0;
}

.ant-page-header.ant-page-header-has-footer.ant-page-header-ghost {
  padding: 10px 20px 0;
  margin-bottom: 10px;
  background: #fff;
}
