#tabs {
  margin: 0;
  padding-left: 30px;
  background: rgb(43, 46, 61);
  .ant-tabs-nav {
    padding: 15px 0;
    margin: 0;
  }

  .ant-tabs-nav::before {
    content: '';
    display: none;
  }
  .ant-tabs-tab {
    border-radius: 3px;
    background-color: #fff;
    padding: 0 10px;
    line-height: 26px;
  }

  .ant-tabs-tab-active {
    border-radius: 3px;
    padding: 0 10px;
    background-color: #fff;
  }
}

.tabsRight {
  margin-right: 30px;
  color: #fff;
}

.ant-page-header-footer {
  margin: 0;
}

.ant-page-header {
  border-bottom: 1px solid rgba(5, 5, 5, 0.06);
}

.ant-pro-page-container-children-container {
  padding: 20px;
}