.image-card {
  width: 120px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  .wrapper {
    width: 76%;
    max-width: 100px;
    height: 100%;
    position: relative;
    overflow: hidden;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .file-icon {
      display: flex;
      justify-content: center;
      overflow: hidden;
      .img {
        width: auto;
        height: 100%;
        transition: all 0.3s;
      }
      .svg-img {
        height: 100%;
        transition: all 0.3s;
      }
    }
    .file-name {
      width: 100%;
      font-size: 12px;
      margin: 0;
      padding: 5px 5px 0;
      text-align: center;
      box-sizing: border-box;
    }
  }
  .card {
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0,0,0,.1);
    z-index: 10;
    width: 100%;
    height: 100%;
    text-align: right;
    padding: 5px 10px;
  }
}

.gi_line_1 {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
